body {
    font-family:$font-family;
    font-size:$font-size;
    color:$color;
    line-height: $line-height;
}

a {
    color:$link-color;
    text-decoration: none;
}

img {
    &.rounded {
        border-radius: 50%;
    }
}

hr {
    border:0;
    border-top: 1px solid $border-color;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    font-family:"Open Sans",Arial,helvetica,sans-serif;
}

blockquote {
    margin:0;
    // padding:0;
    border-left: 5px solid $border-color;
    padding:.5rem 1rem;
}
