.btn {
    border:0;
    padding:0;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    padding:0 2rem;
    height: 36px;
    line-height: 36px;
    outline: 0 none;

    // border-radius:2px;

    background-color: $grey;
    color:$white;

    cursor:pointer;
    display: inline-block;
    @include transition-shadow(.5s);

    @include shadow(1);
    &:hover {
        @include shadow(2);
    }
}
