// like table, form will use .form so default form look and feel will not
// be changed

form.form {
    label {
        display: block;
        font-weight: 300;
        font-size: .8rem;
        &.radio,&.checkbox {
            font-weight: normal;
            display: inline;
            cursor:pointer;
            margin-right: 1rem;
            input[type=checkbox],
            input[type=radio] {
                margin-right: .5rem;
                cursor:pointer;
            }
        }
    }

    input[type=text],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=week],
    input[type=tel],
    input[type=search],
    input[type=month],
    input[type=date],
    input[type=datetime],
    textarea
    {
        @include border-box;
        width: 100%;
        border:0;
        padding:.5rem;
        border: 1px solid $border-color;
        &:focus {
            border:1px solid $primary-color;
        }
        @include medium-and-down()
        {
            border:0;
            border-bottom:1px solid $border-color;
            &:focus {
                border:0;
                border-bottom: 1px solid $primary-color;
            }
        }
    }

    select {
        padding:0.5rem 1rem;
        background-color: #fff;
        width: 100%;
        @include border-box;
        border:0;
        border: 1px solid $border-color;
        @include medium-and-down()
        {
            border:0;
            border-bottom:1px solid $border-color;
        }
    }

    input[type=text],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=week],
    input[type=tel],
    input[type=search],
    input[type=month],
    input[type=date],
    input[type=datetime],
    input[type=checkbox],
    input[type=radio],
    textarea,
    select
    {
        &:focus,&:active {
            outline:0;
        }
    }
}
