@mixin no-style-list {
    margin:0;
    padding:0;
    li {
        list-style: none;
    }
}

@mixin clearfix {
    *zoom:1;
    &:before {
        clear:both;
    }
    &:after {
        clear:both;
        content:" ";
        display:table;
    }
}

@mixin border-box {
    box-sizing: border-box;
}

@mixin shadow($depth)
{
    @if $depth == 0 {
        box-shadow:0 !important;
    }
    @if $depth == 1 {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    }
    @if $depth == 2 {
        box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    }
    @if $depth == 3 {
        box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.24), 0px 17px 50px 0px rgba(0, 0, 0, 0.19);
    }
    @if $depth == 4 {
        box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.22), 0px 25px 55px 0px rgba(0, 0, 0, 0.21);
    }
    @if $depth == 5 {
        box-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.2), 0px 40px 77px 0px rgba(0, 0, 0, 0.22);
    }
}

@mixin transition-shadow($time:1s)
{
    @include transition(box-shadow $time);
}
