// TODO add !default to each variables

// default Colors
$primary-color:$blue;
$info-color:$blue;
$warning-color:$yellow;
$danger-color:$red;
$success-color:$green;

// font related
$font-family:Arial,helvetica,sans-serif;
$header-font-family:"Open Sans",Arial,helvetica,sans-serif;
$font-size:.9rem;
$color:#444444;
$line-height:1.5rem;

// fonts
// $font-roboto-path:"../fonts/roboto/";
$font-opensans-path:"../fonts/opensans/";

// links
$link-color:$blue;

// media query breakpoint
$small:600px;
$small-up:$small+1px;
$medium:992px;
$medium-up:$medium+1px;
$large:1200px;
$large-up:$large+1px;

// grid
$gutter:1.5rem;
$columns:12;

// border
$border-color:$grey-lighten-1;

// navbar
$navbar-background-color:$blue;
$navbar-text-color:$white;
$navbar-link-color:$white;